.STitle{
  font-size: 5rem;
  color: black;
  margin-top: 3rem;
  margin-bottom : 1rem;
}

.SSubTitle{
  margin-top: 7rem;
  text-align: center;
  font-size: 2.5rem;
}

.SSubTitle1{
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: bolder;
}

.ICBCsponsor{
  width: 76%;
  margin-left: 12% ;
}

.content{
  margin-top: 1rem;
  font-size: 1.2rem;
}